nav {
    display: flex;
    justify-content: space-between;
    padding: var(--x) var(--x);
    height: fit-content;
    background-color: rgb(20, 19, 19);
}

nav > .logo {
    width: 100px;
    height: 50px;
    display: flex;
    align-items: center;
}

nav > .logo > img {    
    width: 100%;
}

nav > .link-container {
    display: flex;
    column-gap: calc(4 * var(--x));
    align-items: center;
}

nav > div > a {
    font-size: var(--paragraph);
    font-weight: 600;
    color: var(--white);
}