<html>
    <head>
        <link rel="stylesheet" href="../static/css/global.css">
        <link rel="stylesheet" href="../static/css/nav.css">
        <link rel="stylesheet" href="../static/css/footer.css">
        <link rel="stylesheet" href="../static/css/user/home.css">
        <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@500;600;700;800&display=swap" rel="stylesheet">
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
        <script src="../static/scripts/animation.js" type="text/javascript"></script>
        <script src="../static/scripts/animationFunctions.js" type="text/javascript"></script>
        <title>Waltronics</title>
    </head>
    <body>
        <nav>
            <div class="logo">
                <img src="../static/images/logo.png">
            </div>
            <div class="link-container">
                <a>Home</a>
                <a>Services</a>
                <a>Contact</a>
                <a>Log-In</a>
            </div>
        </nav>
        <header id="header">
            <div class="text">
                <h1>The Neighborhood <br><word-color>Mechanic</word-color></h1>
                <span>Orlando, FL</span>
                <p>Whether it's a faulty spark plug, a busted engine, or just a desparately needed cleaning, we'll be able to get you back on the road in a vehicle you'll be comfortable in and proud of in no time.</p>
            </div>
            <div class="image"></div>
            <div class="design-1"></div>
            <div class="design-2"></div>
        </header>
        <section id="testimony">
            <div class="design-3"></div>
            <div class="design-4"></div>
            <div class="text">
                <h2>The Waltronics Guarantee™</h2>
                <p>We can't just make such big claims and not back them up.<br>Read the cards below to learn more about how we run our business at Waltronics.</p>       
            </div>
            <div class="card-container">
                <div class="left-arrow">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-left" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
                    </svg>
                </div>
                <info-card>
                    <img src="../static/images/handshake.png"></img>
                    <h3>A Reputable Business</h3>
                    <span>Nullam non nisi est sit</span>
                    <p>Ac tincidunt vitae semper quis lectus nulla at. Nibh praesent tristique magna sit amet purus. Massa enim nec dui nunc mattis. Auctor augue mauris augue neque. Turpis egestas pretium aenean pharetra magna. Feugiat vivamus at augue eget arcu dictum varius duis. Netus et malesuada fames ac turpis egestas sed.</p>
                </info-card>
                <info-card>
                    <img src="../static/images/coin.png"></img>
                    <h3>Competitive Prices</h3>
                    <span>Nullam non nisi est sit</span>
                    <p>Ac tincidunt vitae semper quis lectus nulla at. Nibh praesent tristique magna sit amet purus. Massa enim nec dui nunc mattis. Auctor augue mauris augue neque. Turpis egestas pretium aenean pharetra magna. Feugiat vivamus at augue eget arcu dictum varius duis. Netus et malesuada fames ac turpis egestas sed.</p>
                </info-card>    
                <info-card>
                    <img src="../static/images/book.png"></img>
                    <h3>Crème de la Crème Mechanics</h3>
                    <span>Nullam non nisi est sit</span>
                    <p>Ac tincidunt vitae semper quis lectus nulla at. Nibh praesent tristique magna sit amet purus. Massa enim nec dui nunc mattis. Auctor augue mauris augue neque. Turpis egestas pretium aenean pharetra magna. Feugiat vivamus at augue eget arcu dictum varius duis. Netus et malesuada fames ac turpis egestas sed.</p>
                </info-card>
                <info-card>
                    <img src="../static/images/verbose.png"></img>
                    <h3>Comprehensive Services</h3>
                    <span>Nullam non nisi est sit</span>
                    <p>Ac tincidunt vitae semper quis lectus nulla at. Nibh praesent tristique magna sit amet purus. Massa enim nec dui nunc mattis. Auctor augue mauris augue neque. Turpis egestas pretium aenean pharetra magna. Feugiat vivamus at augue eget arcu dictum varius duis. Netus et malesuada fames ac turpis egestas sed.</p>
                </info-card>
                <info-card>
                    <img src="../static/images/paper.png"></img>
                    <h3>A Straightforward System</h3>
                    <span>Nullam non nisi est sit</span>
                    <p>Ac tincidunt vitae semper quis lectus nulla at. Nibh praesent tristique magna sit amet purus. Massa enim nec dui nunc mattis. Auctor augue mauris augue neque. Turpis egestas pretium aenean pharetra magna. Feugiat vivamus at augue eget arcu dictum varius duis. Netus et malesuada fames ac turpis egestas sed.</p>
                </info-card>
                <info-card>
                    <img src="../static/images/phone.png"></img>
                    <h3>Efficient Customer Service</h3>
                    <span>Nullam non nisi est sit</span>
                    <p>Ac tincidunt vitae semper quis lectus nulla at. Nibh praesent tristique magna sit amet purus. Massa enim nec dui nunc mattis. Auctor augue mauris augue neque. Turpis egestas pretium aenean pharetra magna. Feugiat vivamus at augue eget arcu dictum varius duis. Netus et malesuada fames ac turpis egestas sed.</p>
                </info-card>
                <info-card>
                    <img src="../static/images/car.png"></img>
                    <h3>Vehicles All Day, Everday</h3>
                    <span>Nullam non nisi est sit</span>
                    <p>Ac tincidunt vitae semper quis lectus nulla at. Nibh praesent tristique magna sit amet purus. Massa enim nec dui nunc mattis. Auctor augue mauris augue neque. Turpis egestas pretium aenean pharetra magna. Feugiat vivamus at augue eget arcu dictum varius duis. Netus et malesuada fames ac turpis egestas sed.</p>
                </info-card>
                <info-card>
                    <img src="../static/images/clean.png"></img>
                    <h3>Interior and Exterior Detailing</h3>
                    <span>Nullam non nisi est sit</span>
                    <p>Ac tincidunt vitae semper quis lectus nulla at. Nibh praesent tristique magna sit amet purus. Massa enim nec dui nunc mattis. Auctor augue mauris augue neque. Turpis egestas pretium aenean pharetra magna. Feugiat vivamus at augue eget arcu dictum varius duis. Netus et malesuada fames ac turpis egestas sed.</p>
                </info-card>
                <div class="right-arrow">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
                    </svg>
                </div>
            </div>
        </section>
        <section id="recap">
            <div class="text">
                <span>RECAP</span>
                <h2>Take the next step</h2>
                <p>Start improving your car by first creating an appointment with us. You can begin by creating an account or by logging into an existing account.</p>
                <div class="button-container">
                    <button class="btn-1">Log in</button>
                    <span>or</span>
                    <button class="btn-2">Create an account</button>
                </div>
            </div>
            <div class="image"></div>
        </section>
        <footer>
            <ul>Copyright © 2022 Waltronics Inc. All rights reserved.</ul>
            <ul>Privacy Policy</ul>
            <ul>Terms of Use</ul>
        </footer>
    </body>
</html>